* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
    position: relative;
}

body{
    font-size: 1rem;
    margin: 1rem;
    color: var(--neog-black);
    background-color: var(--neog-lynx-white);
}

.neog-typography {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
/*Typography - Headings*/
h1{
    font-size: 3rem;
    line-height: 4rem;
    font-weight: var(--neog-text-semibold);
}
h2{
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: var(--neog-text-semibold);
}
h3{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: var(--neog-text-semibold);
}
h4{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: var(--neog-text-semibold);
}
h5{
    font-size: 0.5rem;
    line-height: 1rem;
    font-weight: var(--neog-text-semibold);
}

.neog-group-elements{
    display: flex;
    align-items: center;
  }


.mx-1{
    margin: 0 0.5rem;
}
.mx-2{
    margin: 0 1rem;
}
.my-1{
    margin: 0.5rem 0;
}
.my-2{
    margin: 1rem 0;
}

.px-1{
    padding: 0 0.5rem;
}
.px-2{
    padding: 0 1rem;
}
.py-1{
    padding: 0.5rem 0;
}
.py-2{
    padding: 1rem 0;
}

.neog__demo-pagetitle{
    font-weight: var(--neog-text-regular);
    border-bottom: 1px solid var(--neog-lynx-grey);
}

.neog__demo-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;

}


:root{
/*branding colors*/
--neog-primary: #ff3b30;    
--neog-secondary: #fff6ea;
--neog-action: #3b82f6;
--neog-grey: #9a9a9a;
--neog-black: #282828;
--neog-white: #fff;
--neog-lynx-white: #f7f7f7;
--neog-violet: #5348c7;
--neog-lynx-grey: #c5c5c5;
--neog-action-hover: #dbeafe;
--neog-yellow: #fbbf24;
--neog-pink: #db2777;

--neog-success: #10b981;
--neog-error: var(--neog-primary);
--neog-warning: #f59e0b;
--neog-info: var(--neog-action);

/*typography - Font-weight*/
--neog-text-semibold: 600;
--neog-text-regular: 400;

/*typography - Text*/
--neog-fontsize-default: 0.875rem;
--neog-fontsize-small: 0.75rem;

/*box-shadow*/
--neog-box-shadow: 0 0 0.25rem var(--neog-lynx-grey);

/*border-radius*/
--neog-border-radius-small: 0.25rem;
--neog-border-radius-full: 50%;
}

