* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
    position: relative;
}

body{
    font-size: 1rem;
    margin: 1rem;
    color: var(--neog-black);
    background-color: var(--neog-lynx-white);
}


