
/*Button*/

.neog-card__footer button{
    width: 2rem;
    height: 2rem;
    border-radius: var(--neog-border-radius-full);
    border: 1px solid var(--neog-grey);  
    cursor: pointer;
  }
  
  .neog-card__footer button:hover{
    background-color: var(--neog-white);
  }
  
  .neog-card__footer button.active{
    background-color: var(--neog-action-hover);
  }
  
  .neog-card__link-button {
    color: var(--neog-action);
    display: flex;
    padding: 0.5rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: var(--neog-font-weight-semibold);
    border-radius: var(--neog-border-radius-small);
  }
  
  a.neog-card__link-button:hover {
    background-color: var(--neog-action-hover);
  }