
.neog__demo-pagetitle{
    font-weight: var(--neog-text-regular);
    border-bottom: 1px solid var(--neog-lynx-grey);
}

.neog__demo-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

/*buttons*/
.neog__demo-wrapper-buttons{
    display: flex;
    align-items: flex-start;
}

.neog__demo-wrapper-buttons > .neog__button{
    margin-right: 1rem;
}

.neog__demo-navigation li a{
    background-color: var(--neog-primary);  
    border: 1px solid var(--neog-white); 
    color: var(--neog-white); 
    display: flex;
    text-decoration: none;
}

.neog__demo-navigation li a:hover{
    background-color: var(--neog-red-2);
    text-decoration: underline;
}

.w-15-rem{
    width: 250px;
}
.w-30-rem{
    width: 500px;
}

.w-100{
    width: 100%;
}
.mxw-100{
    max-width: 100%;
}

.h-25-rem{
    height: 25rem;
}