<!DOCTYPE html>

<head>
    <title>NeoG component library - Alerts</title>
    <link rel="stylesheet" href="../css/neog-styles.css" />
</head>

<body class="neog-typography">
    <h4><a href="../index.html">Back to Home</a></h4>
    <h1 class="neog__demo-pagetitle my-2">Alerts</h1>
    <div>
        <h3 class="my-2">Alert with text</h3>
        <div class="neog__alert info flex-row-center px-3 py-2 my-2 border-radius-small text-bold">Info</div>
        <div class="neog__alert warning flex-row-center px-3 py-2 my-2 border-radius-small text-bold">Warning</div>
        <div class="neog__alert error flex-row-center px-3 py-2 my-2 border-radius-small text-bold">Error</div>
        <div class="neog__alert success flex-row-center px-3 py-2 my-2 border-radius-small text-bold">Success</div>
    </div>
    <div>
        <h3 class="my-2">Alert with action button</h3>
        <div class="neog__alert info flex-row-center px-3 py-2 my-2 border-radius-small text-bold d-flex"><span>Info</span><button class="neog__button bg-action-blue border-radius-small small ml-auto">Action</button></div>
        <div class="neog__alert warning flex-row-center px-3 py-2 my-2 border-radius-small text-bold"><span>Warning</span><button class="neog__button cta small border-radius-small ml-auto">Action</button></div>
        <div class="neog__alert error flex-row-center px-3 py-2 my-2 border-radius-small text-bold"><span>Error</span><button class="neog__button warning small border-radius-small ml-auto">Action</button></div>
        <div class="neog__alert success flex-row-center px-3 py-2 my-2 border-radius-small text-bold"><span>Success</span><button class="neog__button success small border-radius-small ml-auto">Action</button></div>
    </div>

    <div>
        <h3 class="my-2">Alert with close button</h3>
        <div class="neog__alert info flex-row-center px-3 py-2 my-2 border-radius-small text-bold d-flex"><span>Info</span><button class="neog__button grey hollow small border-radius-full ml-auto"><i class="fas fa-times"></i></button></div>
        <div class="neog__alert warning flex-row-center px-3 py-2 my-2 border-radius-small text-bold"><span>Warning</span><button class="neog__button grey hollow small border-radius-full ml-auto"><i class="fas fa-times"></i></button></div>
        <div class="neog__alert error flex-row-center px-3 py-2 my-2 border-radius-small text-bold"><span>Error</span><button class="neog__button grey hollow small border-radius-full ml-auto"><i class="fas fa-times"></i></button></div>
        <div class="neog__alert success flex-row-center px-3 py-2 my-2 border-radius-small text-bold"><span>Success</span><button class="neog__button grey hollow small border-radius-full ml-auto"><i class="fas fa-times"></i></button></div>
    </div>
</body>
</html>